* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url("./images/waves.jpeg");
}
nav {
  height: 10vh;

  font-family: "Corben", Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  color: aliceblue;
  background-color: rgba(6, 6, 6, 0.619);
}

header {
  font-size: medium;
}

ul {
  list-style: none;
  display: flex;
}
